.navButts{
	margin-top: 5%;
    float: right;
    color: white;
}
#app{
	background-color: red;
	margin: 10% 0;
	padding: 15% 15%;
}
#getStarted{
	margin: 5% 40% 0;
}
#choices label{
	margin: 0 10%;
	border-radius: .25rem !important;
}

